@font-face {
    font-family: 'cofo_sansregular';
    src: url('../fonts/cofo/cofo-regular/cofosans-regular.eot');
    src: url('../fonts/cofo/cofo-regular/cofosans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cofo/cofo-regular/cofosans-regular.woff2') format('woff2'),
         url('../fonts/cofo/cofo-regular/cofosans-regular.woff') format('woff'),
         url('../fonts/cofo/cofo-regular/cofosans-regular.ttf') format('truetype'),
         url('../fonts/cofo/cofo-regular/cofosans-regular.svg#cofo_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cofo_medium';
    src: url('../fonts/cofo/cofo-medium/cofosans-medium.eot');
    src: url('../fonts/cofo/cofo-medium/cofosans-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cofo/cofo-medium/cofosans-medium.woff2') format('woff2'),
         url('../fonts/cofo/cofo-medium/cofosans-medium.woff') format('woff'),
         url('../fonts/cofo/cofo-medium/cofosans-medium.ttf') format('truetype'),
         url('../fonts/cofo/cofo-medium/cofosans-medium.svg#cofo_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'avenirnextcyr-regular';
  src: url('../fonts/avenirnextcyr/avenirnextcyr-regular/avenirnextcyr-regular.eot?#iefix') format('embedded-opentype'), 
  	   url('../fonts/avenirnextcyr/avenirnextcyr-regular/avenirnextcyr-regular.woff') format('woff'),
  	   url('../fonts/avenirnextcyr/avenirnextcyr-regular/avenirnextcyr-regular.ttf')  format('truetype'),
  	   url('../fonts/avenirnextcyr/avenirnextcyr-regular/avenirnextcyr-regular.svg#avenirnextcyr-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenirnextcyr-medium';
  src: url('../fonts/avenirnextcyr/avenirnextcyr-medium/avenirnextcyr-medium.eot?#iefix') format('embedded-opentype'), 
  	   url('../fonts/avenirnextcyr/avenirnextcyr-medium/avenirnextcyr-medium.woff') format('woff'),
  	   url('../fonts/avenirnextcyr/avenirnextcyr-medium/avenirnextcyr-medium.ttf')  format('truetype'),
  	   url('../fonts/avenirnextcyr/avenirnextcyr-medium/avenirnextcyr-medium.svg#avenirnextcyr-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenirnextcyr-demi';
  src: url('../fonts/avenirnextcyr/avenirnextcyr-demi/avenirnextcyr-demi.eot?#iefix') format('embedded-opentype'), 
  	   url('../fonts/avenirnextcyr/avenirnextcyr-demi/avenirnextcyr-demi.woff') format('woff'),
  	   url('../fonts/avenirnextcyr/avenirnextcyr-demi/avenirnextcyr-demi.ttf')  format('truetype'),
  	   url('../fonts/avenirnextcyr/avenirnextcyr-demi/avenirnextcyr-demi.svg#avenirnextcyr-demi') format('svg');
  font-weight: normal;
  font-style: normal;
}



// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";

@import "components/body";

@import "components/header";

@import "components/workarea";


.layout{
  	flex: 1 0 auto;
}

.container-fluid{
	max-width: 1120px;
	position: relative;
	width: 100%;
	margin:0 auto;
}

.page-content{
	padding: 20px 0 40px;
}


.blog{
	overflow: hidden;
}
.blog__wrap{
	display: flex;
	flex-wrap:wrap;
	margin-right: -20px;
	margin-bottom: 20px;
	&.m-hidden{
		display: none;
	}
	.main-top{
		padding-right: 20px;
		background: transparent;
	}
}
.blog__item{
	padding-right: 20px;
	margin-bottom: 20px;
	&.m-lg{
		width: 50%;
		.blog__title{
			font-size: 30px;
			line-height: 38px;
			letter-spacing: 0.25px;
		}
		.blog__img{
			height: 305px;
		}
		&.m-complex{
			.blog__title{
				font-size: 22px;
				line-height: 28px;
			}
			.m-complex__wrap {
			    padding: 60px 29px;
			}
			.blog__in {
			    padding: 31px 0 33px;
			    &:first-child{
			    	padding-top: 0;
			    }
			    &:last-child{
			    	padding-bottom: 0;
			    }
			}
		}
	}
	&.m-md{
		width: 33.333%;
		.blog__title{
			font-size: 22px;
			line-height: 28px;
		}
		.blog__img{
			height: 198px;
		}
	}
	&.m-complex{

		.blog__info{
			padding: 0;
		}
		.blog__in{
			height: auto;
    		border-radius: 0;
    		box-shadow:none;
    		border-bottom: 1px solid #DBDFE2;
    		padding: 40px 0 33px;
    		&:first-child{
    			padding-top: 0;
    		}
    		&:last-child{
    			border-bottom: 0;
    			padding-bottom: 0;
    			.blog__info{
    				
    			}
    		}
		}
	}
	&.m-combined{
		.blog__in{
			height: auto;
			min-height: 411px;
			display: flex;
		    justify-content: flex-end;
		    flex-direction: column;
		}
		.blog__img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			&:after{
				content: "";
				display: block;
				background: linear-gradient(360deg, #192024 0%, #192024 22.28%, rgba(38, 50, 56, 0) 93%);
				opacity: 0.6;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		.blog__info{
			
			// display: flex;
			// flex-direction: column;
			// justify-content: flex-end;
			color: #fff;
			z-index: 2;
		}
		.blog__top,
		.blog__title{
			color: #fff;
		}
	}
}
.m-complex__wrap{
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	height: 100%;
	padding: 32px 29px;
}
.blog__title{
	display: block;
	font-family: 'cofo_medium';
	transition: all .3s ease;
	margin-bottom: 15px;
	color: #303435;
	z-index: 3;
	position: relative;
	&:last-child{
		margin-bottom: 0;
	}
}
.blog__in{
	display: block;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	
	border-radius: 10px;
	color: #263238;
	transition: all .3s ease;
	position: relative;
	overflow: hidden;
	// cursor: pointer;
	&:hover{
		box-shadow: 10px 10px 40px rgba(47, 58, 91, 0.2);
		.blog__title{
			color: #FF5746;
		}
		.blog__img{
			img{
				transform: scale(1.05);
			}
		}
	}
}
.blog__full_link{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}

.blog__top{
	font-size: 15px;
	line-height: 18px;
	color: #7E8597;
	margin-bottom: 14px;
	display: flex;
		align-items:center;
}
.blog__top__person{
	transition: color .3s ease;
}
a.blog__top{
	
	&:hover{
		.blog__top__person{

			color: #FF5746;
		}
	}
}
.blog__icon{
	width: 22px;
	height: 22px;
	margin-right: 10px;
	border-radius: 50%;
	overflow: hidden; 
	position: relative;
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: #FFFFFF;
		opacity: 0.3;
	}
	img{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.blog__txt{
	font-size: 18px;
	line-height: 24px;
	color: #000;
}
.blog__info{
	padding: 26px 29px;
}
.blog__img{
	// position: absolute;
	// bottom: 0;
	// left: 0;
	width: 100%;
	overflow: hidden;
	display: block;
	img{
		display: block;
		max-width: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
		-webkit-transition: -webkit-transform 0.3s ease;
	    transition: -webkit-transform 0.3s ease;
	    transition: transform 0.3s ease;
	    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	}
}


.paging__top{
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	span{
		display: flex;
    	align-items: center;
    	transition: all .3s ease;
	}
}

.paging__prev{
	// background: rgba(219,223,226,0.4);
	background: #FFFFFF;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	color: #263238;
	font-size: 16px;
    padding: 15px 89px;
    transition: all .3s ease;
	span{
		&:before{
			content: "";
			display: inline-block;
			width: 7px;
			height: 12px;
			background: url(../img/svg/prev.svg) no-repeat;
			margin-right: 15px;
		}
	}
	&:hover{
		// background: #FFFFFF;
		box-shadow: 10px 10px 40px rgba(47, 58, 91, 0.2);
		// span{
		// 	color: #263238;
		// }
	}
}
.paging__next{
	// background: rgba(219,223,226,0.4);
	background: #FFFFFF;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	margin-left: 20px;
	color: #263238;
	font-size: 16px;
	    padding: 15px 89px;
	    transition: all .3s ease;
	span{
		&:after{
			content: "";
			display: inline-block;
			width: 7px;
			height: 12px;
			background: url(../img/svg/next.svg) no-repeat;
			margin-left: 15px;
		}
	}
	&:hover{
		// background: #FFFFFF;
		box-shadow: 10px 10px 40px rgba(47, 58, 91, 0.2);
		// span{
		// 	color: #263238;
		// }
	}
}

.paging__toggle{
	&.unactive{
		background: rgba(219,223,226,0.4);
		box-shadow:none;
	}
	&.m-disabled{
		background: rgba(219,223,226,0.4);
		box-shadow:none;
		pointer-events: none;
	}
}

.paging__list{
	display: flex;
	justify-content: center;
}
.paging__item{
	height: 49px;
	background: rgba(219,223,226,0.4);
	font-size: 16px;
	color: #263238;
	border-radius: 10px;
	border: 2px solid transparent;
	margin-right: 5px;
	padding: 13px 16px;
	transition: all .3s ease;
	
	&:last-child{
		margin-right: 0;
	}
	&.active{
		border: 2px solid #FF644B;
		background: transparent!important;
		box-shadow: none!important;
	}
	&:hover{
		background: #FFFFFF;
		box-shadow: 10px 10px 40px rgba(47, 58, 91, 0.2);
	}
	&.m-more{
		background: rgba(219,223,226,0.4) url(../img/svg/more.svg) center no-repeat;
		min-width: 46px;
		&:hover{
			background: #fff url(../img/svg/more.svg) center no-repeat;
		}
	}
	&.m-less{
		background: rgba(219,223,226,0.4) url(../img/svg/more.svg) center no-repeat;
		min-width: 46px;
		transform: rotate(180deg);
		&:hover{
			background: #fff url(../img/svg/more.svg) center no-repeat;
		}
	}
}

.socials{
	display: flex;
	flex-wrap:wrap;
}
.socials__link{
	width: 40px;
	height: 40px;
	margin-right: 15px;
	border-radius: 50%;
	&:last-child{
		margin-right: 0;
	}
	&.fb{
		background: url(../img/svg/fb.svg) no-repeat;
	}
	&.vk{
		background: url(../img/svg/vk.svg) no-repeat;
	}
	&.tg{
		background: url(../img/svg/tg.svg) no-repeat;
	}
	&.tw{
		background: url(../img/svg/tw.svg) no-repeat;
	}
	&.ok{
		background: url(../img/svg/ok.svg) no-repeat;
	}
}

.wp-block-image{
	.figure__link{
		overflow: hidden;
		display: block;
		img{
			-webkit-transition: -webkit-transform 0.3s ease;
		    transition: -webkit-transform 0.3s ease;
		    transition: transform 0.3s ease;
		    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
		}
		&:hover{
			img{
				transform: scale(1.05);
			}
		}
	}
}


.fb_iframe_widget{
	max-width: 100%;
}
.fb_iframe_widget span{
	max-width: 100%;
}


img.emoji {
    margin: 0 2px 0 0!important;
}
.wp-block-column{
	p{
		.figure__link{
			display: inline;
		}
	}
}
.author-top{
	padding: 0 43px 17px;
	border-radius: 10px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
	background: #fff;
	margin: 35px 0 20px;
	.blog__icon{
		width: 115px;
		height: 115px;
		margin: -37px 22px 0 0;
		&:after{
			display: none;
		}
	}
	.blog__top{
		align-items: flex-end;
		margin-bottom: 0;
		span{
			font-size: 38px;
			line-height: 48px;
			color: #263238;
			font-family: 'cofo_medium';
			display: block;
			position: relative;
			top: -7px;
		}
	}
}

@import "components/post";
@import "components/main";

@import "components/footer";




@import "components/media";





