@font-face {
    font-family: 'cofo_sansregular';
    src: url('../fonts/cofo/cofo-regular/cofosans-regular.eot');
    src: url('../fonts/cofo/cofo-regular/cofosans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cofo/cofo-regular/cofosans-regular.woff2') format('woff2'),
         url('../fonts/cofo/cofo-regular/cofosans-regular.woff') format('woff'),
         url('../fonts/cofo/cofo-regular/cofosans-regular.ttf') format('truetype'),
         url('../fonts/cofo/cofo-regular/cofosans-regular.svg#cofo_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cofo_medium';
    src: url('../fonts/cofo/cofo-medium/cofosans-medium.eot');
    src: url('../fonts/cofo/cofo-medium/cofosans-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cofo/cofo-medium/cofosans-medium.woff2') format('woff2'),
         url('../fonts/cofo/cofo-medium/cofosans-medium.woff') format('woff'),
         url('../fonts/cofo/cofo-medium/cofosans-medium.ttf') format('truetype'),
         url('../fonts/cofo/cofo-medium/cofosans-medium.svg#cofo_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";

@import "components/body";

@import "components/header";

@import "components/workarea";


.layout{
  	flex: 1 0 auto;
}

.container-fluid{
	max-width: 1120px;
	position: relative;
	width: 100%;
	margin:0 auto;
}

.page-content{
	padding: 100px 0 40px;
}


.blog{
	overflow: hidden;
}
.blog__wrap{
	display: flex;
	flex-wrap:wrap;
	margin-right: -20px;
	margin-bottom: 20px;
}
.blog__item{
	padding-right: 20px;
	margin-bottom: 20px;
	&.m-lg{
		width: 50%;
		.blog__title{
			font-size: 30px;
			line-height: 38px;
			letter-spacing: 0.25px;
		}
		.blog__in{
			padding-bottom: 292px;
		}
		.blog__img{
			height: 305px;
		}
	}
	&.m-md{
		width: 33.333%;
		.blog__title{
			font-size: 22px;
			line-height: 28px;
		}
		.blog__in{
			padding-bottom: 187px;
		}
		.blog__img{
			height: 198px;
		}
	}
}
.blog__title{
	font-family: 'cofo_medium';
	transition: all .3s ease;
	margin-bottom: 15px;
}
.blog__in{
	display: block;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	
	border-radius: 10px;
	color: #263238;
	transition: all .3s ease;
	position: relative;
	overflow: hidden;
	&:hover{
		box-shadow: 10px 10px 40px rgba(47, 58, 91, 0.2);
		.blog__title{
			color: #FF5746;
		}
	}
}

.blog__top{
	font-size: 15px;
	line-height: 18px;
	color: #7E8597;
	margin-bottom: 14px;
}
.blog__txt{
	font-size: 18px;
	line-height: 24px;
}
.blog__info{
	padding: 26px 29px;
}
.blog__img{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	img{
		display: block;
		max-width: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.paging__top{
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	span{
		display: flex;
    	align-items: center;
    	transition: all .3s ease;
	}
}

.paging__prev{
	background: rgba(219,223,226,0.4);
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	color: #7E8597;
	font-size: 16px;
	    padding: 15px 89px;
	    transition: all .3s ease;
	span{
		&:before{
			content: "";
			display: inline-block;
			width: 7px;
			height: 12px;
			background: url(../img/svg/prev.svg) no-repeat;
			margin-right: 15px;
		}
	}
	&:hover{
		background: #FFFFFF;
		box-shadow: 10px 10px 40px rgba(47, 58, 91, 0.2);
		span{
			color: #263238;
		}
	}
}
.paging__next{
	background: rgba(219,223,226,0.4);
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	margin-left: 20px;
	color: #7E8597;
	font-size: 16px;
	    padding: 15px 89px;
	    transition: all .3s ease;
	span{
		&:after{
			content: "";
			display: inline-block;
			width: 7px;
			height: 12px;
			background: url(../img/svg/next.svg) no-repeat;
			margin-left: 15px;
		}
	}
	&:hover{
		background: #FFFFFF;
		box-shadow: 10px 10px 40px rgba(47, 58, 91, 0.2);
		span{
			color: #263238;
		}
	}
}

.paging__list{
	display: flex;
	justify-content: center;
}
.paging__item{
	background: rgba(219,223,226,0.4);
	font-size: 16px;
	color: #263238;
	border-radius: 10px;
	border: 2px solid transparent;
	margin-right: 5px;
	padding: 13px 16px;
	transition: all .3s ease;
	
	&:last-child{
		margin-right: 0;
	}
	&.active{
		border: 2px solid #FF644B;
		background: transparent!important;
		box-shadow: none!important;
	}
	&:hover{
		background: #FFFFFF;
		box-shadow: 10px 10px 40px rgba(47, 58, 91, 0.2);
	}
	&.m-more{
		background: rgba(219,223,226,0.4) url(../img/svg/more.svg) center no-repeat;
		min-width: 46px;
		&:hover{
			background: #fff url(../img/svg/more.svg) center no-repeat;
		}
	}
}

.socials{
	display: flex;
	flex-wrap:wrap;
}
.socials__link{
	width: 40px;
	height: 40px;
	margin-right: 15px;
	border-radius: 50%;
	&:last-child{
		margin-right: 0;
	}
	&.fb{
		background: url(../img/svg/fb.svg) no-repeat;
	}
	&.vk{
		background: url(../img/svg/vk.svg) no-repeat;
	}
	&.tg{
		background: url(../img/svg/tg.svg) no-repeat;
	}
	&.tw{
		background: url(../img/svg/tw.svg) no-repeat;
	}
	&.ok{
		background: url(../img/svg/ok.svg) no-repeat;
	}
}


.figure__link{
	overflow: hidden;
	display: block;
	img{
		-webkit-transition: -webkit-transform 0.3s ease;
	    transition: -webkit-transform 0.3s ease;
	    transition: transform 0.3s ease;
	    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	}
	&:hover{
		img{
			transform: scale(1.05);
		}
	}
}


@import "components/post";

@import "components/footer";




@import "components/media";





