.page-footer{
	flex-shrink: 0;
	background: #2F3A5B;
	box-shadow: 0px 4px 8px rgba(84, 110, 122, 0.24);
	color: #fff;
	padding: 27px 0;
}
.page-footer__top {
    margin-bottom: 20px;
    font-family: 'avenirnextcyr-demi';
    font-size: 16px;
}
.page-footer__wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.page-footer__link{
	display: inline-block;
    color: #fff;
    margin-right: 36px;
    font-family: 'avenirnextcyr-regular';
    letter-spacing: 0.25px;
    font-size: 16px;
	&:last-child{
		margin-right: 0;
	}
	&:hover{
		color: #FF644B;
	}
}

.page-footer__copy{
	display: inline-flex;
    align-items: center;
    font-family: 'avenirnextcyr-regular';
    font-size: 16px;
    color: #C0C4CD;
    letter-spacing: 0.25px;
    span{
    	color: #fff;
    	    display: inline-block;
    	margin-left: 6px;
    	font-family: 'avenirnextcyr-medium';
    }
    a{
        display: inline-block;
        margin-left: 5px;
        color: #fff;
        &:hover{
           color: #FF644B;
           text-decoration: none; 
        }
    }
}

.page-footer__age{
    font-size: 13px;
    line-height: 18px;
    color: #C0C4CD;
    border: 1px solid #C0C4CD;
    border-radius: 5px;
    padding: 1px 4px 2px;
    margin-left: 10px;
}