.page-header{
	background: #fff;
	// position: fixed;
	// left: 0;
	// top: 0;
	    padding: 25px 0 22px;
	box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
	width: 100%;
	z-index: 5;
}

.page-header__wrap{
	// padding-left: 95px;
}
.logo{
	display: inline-block;
	font-size: 20px;
	color: #FF644B;
	text-transform: uppercase;
	span{
		display: inline-block;
		transition: transform .3s ease;
	}
	// &:hover{
	// 	span{
	// 		transform: translateY(-7px);
	// 	}
	// }
}

.switch{
	border: 1px solid #DBDFE2;
	border-radius: 10px;
	display: inline-flex;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.switch__item{
	position: relative;

	input{
		opacity: 0;
		visibility: hidden;
		position: absolute;
		&:checked{
			&+label{
				border: 2px solid #FF644B;
				color:#0D1D41;
			}
		}
	}
	label{
		display: block;
		font-size: 14px;
		color: #7E8597;
		text-align: center;
		padding: 10px 15px;
    	width: 175px;
		cursor:pointer;
		border: 2px solid transparent;
		border-radius: 10px;
		margin: -1px;
	}
	
}