.main-top{
	background: #FFFFFF;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	margin-bottom: 20px;
	text-align: center;
	
	overflow: hidden;
	border-bottom: 5px solid #FF644B; 
	h1{
		font-size: 34px;
		line-height: 43px;
		margin-bottom: 0;
	}
	.blog__top{
		font-size: 13px;
		justify-content: center;
	}
	.blog__in{
		padding: 37px 20px 30px 20px;
	}
}
