
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1380px){
	.cards-aside {
		padding-left: 20px;
	}
}

@media screen and (max-width: 1350px){
	.cards-aside {
		padding-left: 15px;
	}
	.cards-aside__sticky {
		width: 200px;
	}
}

@media screen and (max-width: 1200px){
	.page-footer__link,
	.page-footer__copy,
	.page-footer-socials__top{
		font-size: 16px;
	}
	.copy-pre{
		display: block;
		width: 100%;
	}
	.page-footer__copy{
		flex-wrap:wrap;
	}
	.index-chapter {
		width: 175px;
		min-width: 175px;
		margin-right: 20px;
		font-size: 16px;
	}
	.index-popular {
		width: 175px;
		min-width: 175px;
		padding: 15px;
		margin-left: 20px;
	}
	.index-view {
		padding-right: 195px;
	}
}

@media screen and (max-width: 1180px){
	.logo {
		position: static;
		transform: none;
		margin-right: 20px;
	}
	.page-header-search{
		width: 100%;
	}
	.page-header .container-fluid {
		padding: 10px 15px 11px;
	}
	.cards-aside{
		display: none;
	}
	.layout{
		overflow: hidden;
	}
}

@media screen and (max-width: 1160px){
	.m-pets{
		.pets__subscribe-form__wrap{
			margin-right: 0;
			flex-wrap:wrap;
		}
		.pets__subscribe-form input[type="text"],
		.pets__subscribe-form input[type="email"],
		.pets__subscribe-form input[type="password"]{
			width: 100%;
		}
		.pets__subscribe-form__item {
		    margin-right: 0;
		    margin-bottom: 20px;
		    width: 100%;
		    &:last-child{
		    	margin-bottom: 0;
		    }
		}
	}
}


@media screen and (max-width: 992px){
	.post-aside{
		display: none;
	}
	.post__list{
		padding: 15px 0;
	}
	.workarea hr{
		margin: 15px 0;
	}
	.blog__item.m-combined .blog__in {
	    height: 100%;
	}
	.m-pets .wp-block-columns.snippet-link .wp-block-column:not(:first-child){
		padding-left: 40px;
	}
	.t-half {
	    margin: 0 0 30px;
	}
	.t-half__item {
	    width: 100%;
	    padding: 0;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}


	.page-footer__wrap{
		flex-wrap:wrap;
	}
	.page-footer__links {
		padding-top: 20px;
		width: 100%;
	}
	.page-footer__link{
		br{
			display: none;
		}
	}
	.copy-pre {
		width: auto;
	}
	.page-footer__link{
		margin-bottom: 8px;
	}
	.index-popular{
		position: static;
		width: 100%;
		min-width: 100%;
		padding: 25px 20px;
		margin-left: 0;
		margin-bottom: 30px;
	}
	.index-view {
		padding-right: 0;
	}
	.last-article__wrap{
		display: flex;
		flex-wrap: wrap;
		margin-right: -20px;
	}
	.last-article{
		width: 50%;
		padding-right: 20px;
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: 14px;
		&:nth-child(3),
		&:nth-child(4){
			padding-bottom: 0;
			margin-bottom: 0;
			.last-article__in{
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
	}
	.last-article__in{
		border-bottom: 1px solid #EAEAEA;
		padding-bottom: 14px;
		height: 100%;
	}
	.index-wrapper{
		display: block;
		overflow: hidden;
	}
	.index-chapter {
		width: 100%;
		min-width: 100%;
		margin-right: 0;
		.menu-mobile__list{
			display: flex;
			align-items: center;
			white-space: nowrap;
    		overflow-x: auto;
			padding-bottom: 6px;
			padding-left: 15px;
			margin: 0 -15px;
		}
		.menu-mobile__link {
			margin-bottom: 0;
			margin-right: 16px;
		}
		.menu-mobile__item{
			margin-bottom: 9px;
		}
	}
	.m-mobile-hidden{
		display: none;
	}
	.layout.m-index .page-content {
		padding-top: 15px;
	}
	.interesting__slider .slick-arrow.slick-next {
		right: -27px;
	}
	.interesting__slider .slick-arrow.slick-prev {
		left: -27px;
	}
}

@media screen and (max-width: 900px){
	.blog__item.m-md{
		width: 50%;
	}
	.blog__item.m-md .blog__img {
	    height: 305px;
	}
}

@media screen and (max-width: 768px){
	body{
		font-size: 18px;
	}
	.workarea h1 {
	    line-height: 1.1;
	}
	.workarea h2 {
	    line-height: 1.1;
	}
	.workarea h3 {
	    line-height: 1.1;
	}
	.workarea blockquote{
		padding: 15px 0;
		font-size: 20px;
		margin: 30px 0;
	}
	.blog__txt,
	.last-article__txt{
	    font-size: 17px;
	    line-height: 20px;
	}

	.blog__item.m-lg .blog__title,
	.blog__item.m-md .blog__title{
	    font-size: 20px;
	    line-height: 25px;
	}
	.page-footer__wrap {
	    flex-wrap: wrap;
	}
	.page-footer-socials {
		max-width: 100%;
		padding: 20px 0 0;
	}
	.page-footer{
		padding: 26px 0;
	}
	.page-footer__age {
		font-size: 10px;
		line-height: 13px;
		margin-left: 5px;
	}
	.paging__item{
		font-size: 15px;
		margin-right: 4px;
		margin-bottom: 4px;
		&:last-child{
			margin-right: 0;
		}
	}
	.paging__list{
		flex-wrap:wrap;
	}
	.paging__next,
	.paging__prev{
	    font-size: 15px;
	    padding: 15px 5px;
	    width: 50%;
	    text-align: center;
	    span{
	    	justify-content: center;
	    }
	}
	.paging__next{
		margin-left: 10px;
	}
	.blog__top{
		font-size: 13px;
	}
	.workarea ol li:before{
		top: 1px;
	}
	.switch__item label {
	    padding: 8px 5px;
	    width: 135px;
	}
	.m-complex__wrap,
	.blog__item.m-lg.m-complex .m-complex__wrap {
	    padding: 20px 29px;
	}
	.blog__item.m-md.m-complex .blog__title,
	.blog__item.m-lg.m-complex .blog__title {
	    font-size: 20px;
	    line-height: 25px;
	}
	.m-pets .wp-block-columns.snippet-link {
	    margin-right: 0;
	}
	.m-pets .post__inner {
	    padding: 0 30px;
	}
	.m-pets{
		.wp-block-columns{
			flex-wrap: wrap;
			&.snippet-link{
				.wp-block-column{
					flex-basis: 100%!important;
					margin-bottom: 10px;
					&:last-child{
						margin-bottom: 0;
						display: flex;
    					align-items: center;
					}
				}
			}
		}
		.wp-block-columns.snippet-link .wp-block-column:not(:first-child) {
		    padding-left: 0;
		    padding-right: 0;
		    display: block;
		    overflow: hidden;
		}
	}
	.m-pets .wp-block-columns.snippet-link .wp-block-column:not(:first-child) .wp-block-image {
	    margin: 0 10px 0 0;
	    max-width: 95px;
	    min-width: 95px;
	    float: left;
	}
	.m-pets .wp-block-columns.snippet-link .wp-block-column:not(:first-child) .wp-block-image+p{
		overflow: hidden;
    	margin-left: 100px;
	}
	.wp-block-columns{
		&.snippet-link{
			.wp-block-column{
				&:not(:first-child){
					margin: 25px 0 35px 25px;
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}
	.workarea figcaption {
	    font-size: 13px;
	    line-height: 17px;
	}
	.m-pets .workarea p.t-indent {
    	margin-bottom: 20px;
	}
	.p-indent {
		padding-left: 20px;
	}

	.menu-btn{
		display: inline-block;
		vertical-align: middle;
	}
	.page-header__wrap {
		align-items: center;
		justify-content: space-between;
	}
	.page-header-search{
		display: none;
	}
	.search-mobile-toggle{
		display: inline-block;
	}
	.page-header {
		.container-fluid{
			padding: 16px 15px;
		}
	}
	.memo {
		padding: 30px 40px;
	}
	.post-wrapper{
		flex-wrap:wrap;
	}
	.post-info-aside{
		width: 100%;
		min-width: 100%;
		display: block;
		padding-left: 0;
		margin-bottom: 20px;
		overflow: hidden;
	}
	.post-info-aside__img{
		margin-bottom: 0;
		margin-right: 10px;
		float: left;
	}
	.workarea ul li:before{
		top: 8px;
	}
	.appeal{
		font-size: 20px;
	}
	.quiz .p-item__view {
		padding: 30px 20px;
	}
	.quiz input[type="checkbox"]:not(:checked) + label .checkbox-txt, .quiz input[type="checkbox"]:checked + label .checkbox-txt{
		font-size: inherit;
	}
	.quiz input[type="checkbox"]:not(:checked) + label .checkbox-txt:before, .quiz input[type="checkbox"]:checked + label .checkbox-txt:before{
		top: 0;
	}
	.quiz input[type="checkbox"]:not(:checked) + label .checkbox-txt:after, .quiz input[type="checkbox"]:checked + label .checkbox-txt:after{
		top: 5px;
	}

	.p-item-article__title {
		font-size: 22px;
	}
	.blog__item.m-fullwidth .blog__title{
		font-size: 20px;
	}
}

@media screen and (max-width: 650px){
	.p-item-article{
		flex-wrap:wrap;
	}
	.p-item-article__info{
		width: 100%;
		padding: 20px;
	}
	.p-item-article__img{
		width: 100%;
	}
	.p-author-msg,
	.p-author-about,
	.p-author-links{
		display: none;
	}
	.p-author-view{
		margin-bottom: 0;
	}
	.p-author{
		padding: 20px;
	}
	.p-author-view__title{
		font-size: 30px;
	}
}

@media screen and (max-width: 600px){
	.page-content {
	    padding: 15px 0 40px;
	}
	.blog__item.m-lg .blog__img,
	.blog__item.m-md .blog__img{
	    height: 192px;
	    position: static;
	}
	.blog__item.m-lg .blog__in,
	.blog__item.m-md .blog__in{
		padding-bottom: 0;
	}
	.blog__item{
		padding-right: 0;
	}
	.blog__item.m-lg,
	.blog__item.m-md{
		width: 100%;
	}
	.blog__wrap{
		margin-right: 0;
	}
	.main-top h1,
	.blog__title-txt{
		font-size: 20px;
		line-height: 25px;
		br{
			display: none;
		}
	}
	.main-top {
	    .blog__in{
	    	padding: 13px;
	    }
	}
	.switch{
		position: static;
		transform: none;
		width: 100%;
		margin-top: 20px;
	}
	.switch__item{
		width: 50%;
		label{
			width: 100%;
		}
	}
	.blog__item.m-complex .blog__in,
	.blog__item.m-lg.m-complex .blog__in{
	    padding: 20px 0;
	}
	.blog__item.m-combined .blog__img {
	    min-height: inherit;
	    position: absolute;
	}
	.blog__item.m-combined .blog__in {
	    height: auto;
	    min-height: 270px;
	}
	.blog__wrap .main-top{
		padding-right: 0;
	}
	.author-top .blog__top span {
	    font-size: 24px;
	    line-height: 30px;
	}
	.author-top .blog__top{
		align-items: flex-start;
		justify-content: center;
	}
	.author-top{
		position: relative;
		
		padding: 45px 10px 10px;
	}
	.author-top .blog__icon {
	    width: 68px;
	    height: 68px;
	    margin: 0;
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    top: -40px;
	}
	.pets-top {
	    padding: 0 13px;
	}

	.m-pets {
		.post__list {
		    padding: 13px 0;
		}
		.workarea{
			font-size: 17px;
			h1 {
			    font-size: 26px;
			    line-height: 33px;
			}
			h2{
				font-size: 24px;
				line-height: 30px;
				margin-top: 40px;
			}
			h3{
				font-size: 22px;
    			line-height: 28px;
			}
			h4{
				font-size: 20px;
    			line-height: 26px;
			}
		}
	}
	.pets-top__img{
		margin-bottom: 16px;
	}
	.pets-top__info{
		margin-bottom: 10px;
		flex-wrap:wrap;
	}
	
	.m-pets .workarea blockquote {
	    font-size: 22px;
	    line-height: 28px;
	}
	.t-indent {
	    padding-left: 30px;
	}
	.wp-block-columns.m-txt-lg {
	    margin-bottom: 30px;
	}
	.m-txt-lg {
	    font-size: 17px;
	    line-height: 25px;
	}
	.m-pets .page-content{
	    padding: 15px 0 40px;
	}
	.menu-mobile__wrap{
		flex-wrap: wrap;
		margin-bottom: 25px;
	}
	.menu-mobile__item {
		width: 100%;
		margin-bottom: 25px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.menu-socials {
		justify-content: flex-start;
	}
	.workarea h1{
		font-size: 35px;
	}
	.workarea h2{
		font-size: 26px;
	}
	.workarea h3{
		font-size: 20px;
	}
	.page-bottom-add{
		flex-wrap:wrap;
		.socials{
			width: 100%;
			margin-bottom: 15px;
		}
	}
	.stars-wrap{
		width: 100%;
	}
	.article-info{
		display: none;
	}
	.memo input[type="text"], .memo input[type="email"], .memo input[type="password"] {
		background: #ffffff;
		border: 1px solid #ff894b;
		border-radius: 100px;
		padding: 12.5px 26px;
		margin-bottom: 20px;
	}
	.memo input[type="submit"]{
		position: static;
		width: 100%;
		transform: none;
	}
	.page-bottom {
		padding: 30px 0;
	}
	.memo {
		padding: 30px 20px;
	}
	.p-item__view {
		padding: 30px 20px;
	}
	.post-info{
		margin-bottom: 20px;
		flex-wrap:wrap;
	}
	.post-info__mob{
		width: 100%;
		padding-top: 10px;
	}
	.post-info-author{
		width: 100%;
	}
	.post-info__pre{
		margin-bottom: 10px;
	}
	.page-img {
		margin-bottom: 25px;
	}
	.workarea blockquote{
		font-size: inherit;
	}
	.important {
		padding: 30px 20px;
	}
	.promo {
		padding: 30px 20px;
	}
	.cutting__item{
		flex-wrap:wrap;
	}
	.cutting__img {
		width: inherit;
		min-width: inherit;
		display: inline-block;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.cutting__info{
		max-width: 100%;
		br{
			display: none;
		}
	}
	.promo {
		padding: 20px;
	}
	.promo .btn{
		width: 100%;
	}
	.subscription{
		padding: 20px;
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			background: #ffffff;
			border: 1px solid #ff894b;
			border-radius: 100px;
			padding: 12.5px 26px;
			margin-bottom: 10px;
		}
		input[type="submit"]{
			width: 100%;
			transform: none;
			bottom: 0;
			top: auto;
		}
	}
	.subscription__check .checkbox-item {
		margin: 0 14px 0 0;
	}
	.subscription__form.m-check{
		position: relative;
		padding-bottom: 70px;
		.subscription__wrap{
			position: static;
		}
	}
	
	.btn{
		padding: 15px;
	}
	.quiz .btn{
		width: 100%;
		min-width: 100%;
	}
	.quiz{
		.subscription__wrap{
			input[type="text"],
			input[type="email"],
			input[type="password"] {
				background: #ffffff;
				border: 1px solid #ff894b;
				border-radius: 100px;
				padding: 12.5px 26px;
				margin-bottom: 20px;
			}
			input[type="submit"]{
				width: 100%;
				transform: none;
				bottom: 0;
				top: auto;
				position: static;
			}
		}
	}

	.layout.m-404 {
		background: #fff url(../img/content/p404-bg.jpg) no-repeat;
	}
	.page404{
		.subscription__wrap{
			input[type="text"],
			input[type="email"],
			input[type="password"] {
				background: #ffffff;
				border: 1px solid #ff894b;
				border-radius: 100px;
				padding: 12.5px 26px;
				margin-bottom: 20px;
			}
			input[type="submit"]{
				width: 100%;
				transform: none;
				bottom: 0;
				top: auto;
				position: static;
			}
		}
	}
	.search__item {
		margin-bottom: 15px;
		padding-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
	}
	.p-author-view{
		flex-wrap:wrap;
	}
	.p-author-view__img{
		margin-right: 0;
	}
	.p-author-view__title{
		margin-top: 20px;
		min-width: 100%;
	}
	.blog__info {
		padding: 20px;
	}
	.blog__item.m-fullwidth .blog__in{
		display: block;
	}
	.blog__item.m-fullwidth .blog__img{
		width: 100%;
		height: auto;
		min-height: inherit;
		height: 192px;
    	position: static;
	}
	.blog__item.m-fullwidth .blog__info{
		width: 100%;
		padding: 20px;
	}
	.last-article__wrap{
		margin-right: 0;
	}
	.last-article {
		width: 100%;
		padding-right: 0;
	}
	.last-article{
		&:nth-child(3){
			padding-bottom: 14px;
			margin-bottom: 14px;
			border-bottom: 1px solid #EAEAEA;
		}
	}
	.blog__item{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.layout.m-index .memo {
		padding-left: 20px;
		padding-right: 20px;
	}
	.layout.m-index .memo h2{
		display: flex;
    	justify-content: center;
	}
	.layout.m-index .memo h2:before{
		margin-right: 0;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 576px){
	// .page-list.m-three {
	// 	margin-right: 0;
	// }
	// .page-list.m-three .page-list__item {
	// 	width: 100%;
	// 	padding-right: 0;
	// 	margin-bottom: 20px;
	// 	&:last-child{
	// 		margin-bottom: 0;
	// 	}
	// }
	.img-caption {
		padding-top: 10px;
	}
	.page-item__col{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 500px){
	.page-footer__link{
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
		width: 100%;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 400px){
	.pets-top__part{
		padding: 0 8px;
	}
	.pets-top__date{
		margin-right: 8px;
	}
	.pets-top__label{
		margin-right: 8px;
		padding: 10px 15px;
	}
	.interesting__slider{
		padding-right: 60px;
	}
	.interesting__slider .slick-list {
		overflow: visible;
	}
	.interesting{
		padding: 20px;
	}
	.interesting__slider .slick-arrow.slick-prev {
		left: -17px;
	}
	.interesting__slider .slick-arrow.slick-next {
		right: -17px;
	}
}