

/*FONT-FAMILY*/
$default-font: 'cofo_sansregular', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 16px;

/*BACKGROUND*/
$default-site-bg: #F2F2F2;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #303435;

$alt-color: #FF5746;
